
.gitattributes
.project
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.m2e.core.prefs
jewelry-commons/.classpath
jewelry-commons/.project
jewelry-commons/.settings/org.eclipse.core.resources.prefs
jewelry-commons/.settings/org.eclipse.jdt.core.prefs
jewelry-commons/.settings/org.eclipse.m2e.core.prefs
jewelry-commons/.settings/org.eclipse.wst.common.component
jewelry-commons/.settings/org.eclipse.wst.common.project.facet.core.xml
jewelry-commons/.settings/org.eclipse.wst.validation.prefs
jewelry-commons/target/classes/META-INF/MANIFEST.MF
jewelry-commons/target/classes/META-INF/maven/ro.ausy/jewelry-commons/pom.properties
jewelry-commons/target/classes/META-INF/maven/ro.ausy/jewelry-commons/pom.xml
jewelry-commons/target/classes/ro/ausy/jewelry/commons/dto/ProductDTO.class
jewelry-commons/target/classes/ro/ausy/jewelry/commons/dto/UserDTO.class
jewelry-commons/target/classes/ro/ausy/jewelry/commons/dto/UserRoleDTO.class
jewelry-commons/target/jewelry-commons.jar
jewelry-commons/target/maven-archiver/pom.properties
jewelry-commons/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
jewelry-commons/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
jewelry-commons/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
jewelry-commons/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
jewelry-commons/target/surefire-reports/ro.ausy.jewelry.commons.AppTest.txt
jewelry-commons/target/surefire-reports/TEST-ro.ausy.jewelry.commons.AppTest.xml
jewelry-commons/target/test-classes/ro/ausy/jewelry/commons/AppTest.class
jewelry-server/.classpath
jewelry-server/.project
jewelry-server/.settings/.jsdtscope
jewelry-server/.settings/org.eclipse.core.resources.prefs
jewelry-server/.settings/org.eclipse.jdt.core.prefs
jewelry-server/.settings/org.eclipse.m2e.core.prefs
jewelry-server/.settings/org.eclipse.wst.common.component
jewelry-server/.settings/org.eclipse.wst.common.project.facet.core.prefs.xml
jewelry-server/.settings/org.eclipse.wst.common.project.facet.core.xml
jewelry-server/.settings/org.eclipse.wst.jsdt.ui.superType.container
jewelry-server/.settings/org.eclipse.wst.jsdt.ui.superType.name
jewelry-server/.settings/org.eclipse.wst.validation.prefs
jewelry-server/target/classes/AppMain.class
jewelry-server/target/classes/ro/ausy/jewelry/server/business/impl/ProductManagerImpl.class
jewelry-server/target/classes/ro/ausy/jewelry/server/business/impl/UserManagerImpl.class
jewelry-server/target/classes/ro/ausy/jewelry/server/business/impl/UserRoleManagerImpl.class
jewelry-server/target/classes/ro/ausy/jewelry/server/business/ProductManager.class
jewelry-server/target/classes/ro/ausy/jewelry/server/business/UserManager.class
jewelry-server/target/classes/ro/ausy/jewelry/server/business/UserRoleManager.class
jewelry-server/target/classes/ro/ausy/jewelry/server/dao/impl/ProductDaoImpl.class
jewelry-server/target/classes/ro/ausy/jewelry/server/dao/impl/UserDaoImpl.class
jewelry-server/target/classes/ro/ausy/jewelry/server/dao/impl/UserRoleDaoImpl.class
jewelry-server/target/classes/ro/ausy/jewelry/server/dao/ProductDao.class
jewelry-server/target/classes/ro/ausy/jewelry/server/dao/UserDao.class
jewelry-server/target/classes/ro/ausy/jewelry/server/dao/UserRoleDao.class
jewelry-server/target/classes/ro/ausy/jewelry/server/entity/Product.class
jewelry-server/target/classes/ro/ausy/jewelry/server/entity/User.class
jewelry-server/target/classes/ro/ausy/jewelry/server/entity/UserRole.class
jewelry-server/target/classes/ro/ausy/jewelry/server/utils/HibernateUtils.class
jewelry-server/target/classes/ro/ausy/jewelry/server/utils/IUtils.class
jewelry-server/target/classes/ro/ausy/jewelry/server/ws/ProductService.class
jewelry-server/target/classes/ro/ausy/jewelry/server/ws/UserRoleService.class
jewelry-server/target/classes/ro/ausy/jewelry/server/ws/UserService.class
jewelry-server/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
jewelry-server/target/m2e-wtp/web-resources/META-INF/maven/ro.ausy/jewelry-server/pom.properties
jewelry-server/target/m2e-wtp/web-resources/META-INF/maven/ro.ausy/jewelry-server/pom.xml
jewelry-server/target/test-classes/ro/jewelry/server/AppTest.class
jewelry-web/.classpath
jewelry-web/.project
jewelry-web/.settings/.jsdtscope
jewelry-web/.settings/org.eclipse.core.resources.prefs
jewelry-web/.settings/org.eclipse.jdt.core.prefs
jewelry-web/.settings/org.eclipse.m2e.core.prefs
jewelry-web/.settings/org.eclipse.wst.common.component
jewelry-web/.settings/org.eclipse.wst.common.project.facet.core.prefs.xml
jewelry-web/.settings/org.eclipse.wst.common.project.facet.core.xml
jewelry-web/.settings/org.eclipse.wst.jsdt.ui.superType.container
jewelry-web/.settings/org.eclipse.wst.jsdt.ui.superType.name
jewelry-web/.settings/org.eclipse.wst.validation.prefs
jewelry-web/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
jewelry-web/target/m2e-wtp/web-resources/META-INF/maven/ro.ausy/jewelry-web/pom.properties
jewelry-web/target/m2e-wtp/web-resources/META-INF/maven/ro.ausy/jewelry-web/pom.xml
jewelry-commons/src/test/java/ro/ausy/jewelry/commons/AppTest.java
jewelry-server/src/test/java/ro/jewelry/server/AppTest.java
jewelry-server/target/classes/application-beans.xml
jewelry-server/target/classes/config/database/hibernate.cfg.xml
jewelry-server/target/classes/spring/dao-beans.xml
jewelry-server/target/classes/spring/mnager-beans.xml
