body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100% !important;
    font-size: 16px !important;
}

/* ============================================================================== */
/* ================================= Header.jsp ================================= */
/* ============================================================================== */
.navbar-inverse {
    background-color: transparent !important;
    border-color: transparent !important;
}

.navbar-fixed-top {
    top: 5px;
    border-width: 0 0 1px;
}

.firstBar {
    min-height: 95px !important;
    top: 7px !important;
    margin-left: 0px;
    margin-bottom: 0px !important;
    border-radius: 10px !important;
    background: rgba(230, 230, 230, 0.9) !important;
}

.navbar-brand {
    padding: 0px !important;
    margin: 10px 0 0 10px;
}

.imgHeader {
    width: 70px;
    height: 70px;
    display: block;
    float: left;
    clear: left;
}

#imgProducts {
	width: 370px;
    display: block;
    margin-left: 75px
}

.firstSectionHeader {
    margin-left: 5%;
}

.secondSectionHeader {
    margin: -5px 0 0 200px;
    float: left;
    width: 50%;
}

.secondSectionHeader p {
	font-family: 'Allura';
	font-size: 70px;
}

#message p {
	margin-left: 15px;
	margin-top: 35px;
	font-family: 'Allura';
	font-size: 50px;
}

#login {
	margin-top: 20px;
	float: right;
}


.navbar-form .form-control {
    width: 175% !important;
}

.navbar-form {
    padding: 0px !important;
    margin: 0px !important;
}

.navbar-inverse .navbar-nav > li > a {
    color: #0065b8;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #0065b8;
}

.navbarBottom {
    width: 100%;
    height: 25px !important;
    bottom: 10px !important;
    margin-left: 0px;
    margin-bottom: 0px !important;
    border-radius: 10px !important;
    background: rgba(230, 230, 230, 0.9) !important;
}

/* Container main-container */
.main-container {
    height: 100%;
    width: 1140px;
    border-radius: 10px !important;
    background: rgba(230, 230, 230, 0.9) !important;
}

/* Slider */
.slider-home {
	max-width: 100%;
}

/* ============================================================================== */
/* ================================= Footer.jsp ================================= */
/* ============================================================================== */
footer p {
	margin-top: 10px;
    text-align: center;
    color: black;
}
